In [1]:
#Dataset generation
#Take only 50,000 postive tweets and 50,000 negative tweets.
import numpy as np
import pandas as pd
import csv
import json
import random

#Path variables
dataset_path = "C:/Users/cheth/Anaconda Python/Twitter Sentiment Analysis/dataset/original_dataset.csv"

entire_dataset = "C:/Users/cheth/Anaconda Python/Twitter Sentiment Analysis/dataset/short_dataset.csv"
store_train_path = "C:/Users/cheth/Anaconda Python/Twitter Sentiment Analysis/dataset/training.csv"
store_test_path = "C:/Users/cheth/Anaconda Python/Twitter Sentiment Analysis/dataset/testing.csv"

In [2]:
#Reading the dataset
cols = ['sentiment','id','date','query_string','user','text']
data = pd.read_csv(dataset_path,encoding='latin1',names=cols)

In [3]:
data

,sentiment,id,date,query_string,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
...,...,...,...,...,...,...
1048571,4,1960186342,Fri May 29 07:33:44 PDT 2009,NO_QUERY,Madelinedugganx,My GrandMa is making Dinenr with my Mum
1048572,4,1960186409,Fri May 29 07:33:43 PDT 2009,NO_QUERY,OffRoad_Dude,Mid-morning snack time... A bowl of cheese noo...
1048573,4,1960186429,Fri May 29 07:33:44 PDT 2009,NO_QUERY,Falchion,@ShaDeLa same here say it like from the Termi...
1048574,4,1960186445,Fri May 29 07:33:44 PDT 2009,NO_QUERY,jonasobsessedx,@DestinyHope92 im great thaanks wbuu?
1048575,4,1960186607,Fri May 29 07:33:45 PDT 2009,NO_QUERY,sugababez,cant wait til her date this weekend

In [4]:
#Generating the entire dataset - 120000 rows

#Reading 60000 random rows with negetive label
negetive_data = data[data.sentiment == 0]
rows = np.random.choice(negetive_data.index.values, 60000,replace= False)
df1 = negetive_data.loc[rows]

#Reading 60000 random rows with positive label
positive_data = data[data.sentiment == 4]
rows = np.random.choice(positive_data.index.values, 60000,replace= False)
df2 = positive_data.loc[rows]

In [5]:
#Writting into the enitire_dataset csv file
df3 = pd.concat([df1, df2], axis=0)
df3.to_csv(entire_dataset, header=False)

del data , negetive_data , positive_data, df1,df2,df3

In [6]:
#Generating the training and testing dataset - (80:20)
temp = pd.read_csv(entire_dataset,encoding='latin1',names=cols) 
temp

,sentiment,id,date,query_string,user,text
331371,0,2012648928,Tue Jun 02 21:02:05 PDT 2009,NO_QUERY,True_Doe,Okay...1 more smoke &amp; then off to bed...2m...
485697,0,2181226182,Mon Jun 15 11:32:22 PDT 2009,NO_QUERY,pagegawker,I think my printer is broken.
1150,0,1468096949,Mon Apr 06 23:41:47 PDT 2009,NO_QUERY,AliceAguera,@LittleYellowJen what do don't think ily?? naw...
43766,0,1676634035,Fri May 01 22:39:27 PDT 2009,NO_QUERY,Mariposa_13,Doing homework
367050,0,2049067533,Fri Jun 05 16:14:24 PDT 2009,NO_QUERY,Pownz,Instict 3-0 Canada's End Result at MLG CBus
...,...,...,...,...,...,...
862611,4,1676932768,Fri May 01 23:46:00 PDT 2009,NO_QUERY,BossTycoonLZ,Soo basically I'm obsessed with @coloroid on m...
919150,4,1753773859,Sun May 10 03:22:32 PDT 2009,NO_QUERY,FrannyM101,Happy Mothers Day!!!!
840625,4,1559809063,Sun Apr 19 12:06:08 PDT 2009,NO_QUERY,secretsushi,@johnfurst yeah me to. I have these all on DVD...
856040,4,1573683938,Tue Apr 21 02:21:00 PDT 2009,NO_QUERY,Bamb00cHa,I'm on Twitteeeeer
985099,4,1834445174,Mon May 18 02:57:55 PDT 2009,NO_QUERY,Gaga4Gokey,@xybil Awwww! Bye xybil! Had a fun time tweeti...

In [7]:
import numpy as np
#Reading 50000 random rows with negetive label
negetive_data = temp[temp.sentiment == 0]
rows1 = np.random.choice(negetive_data.index.values, 10000,replace= False)
df1 = negetive_data.loc[rows1]

#Reading 50000 random rows with positive label
positive_data = temp[temp.sentiment == 4]
rows1 = np.random.choice(positive_data.index.values, 10000,replace= False)
df2 = positive_data.loc[rows1]

df1
df2

,sentiment,id,date,query_string,user,text
841861,4,1563556414,Sun Apr 19 23:17:36 PDT 2009,NO_QUERY,AceBlack,@Hayat6 I like strippers but dunno bout the zo...
825492,4,1556489893,Sat Apr 18 23:02:21 PDT 2009,NO_QUERY,TreasaHlaing,is reading Laplace's convolution theory and ge...
830173,4,1557271024,Sun Apr 19 03:03:23 PDT 2009,NO_QUERY,MAGGIECHICKEN,i just watchd 2 movies at hoyts 2day ugh..but ...
873189,4,1679314772,Sat May 02 09:03:26 PDT 2009,NO_QUERY,Tatianarocks,"@tommcfly heeey, today is fletcher day! =} be..."
944692,4,1795701357,Thu May 14 08:13:27 PDT 2009,NO_QUERY,LollyxThexPop,Had to help poor Neon lay an egg today because...
...,...,...,...,...,...,...
822460,4,1554527007,Sat Apr 18 17:14:22 PDT 2009,NO_QUERY,ahhmorganxx,chillinchillin with brennerrr
932102,4,1771005574,Mon May 11 22:53:45 PDT 2009,NO_QUERY,ericomanga,i'd forgotten how nice it feels to have on new...
854986,4,1573492458,Tue Apr 21 01:25:42 PDT 2009,NO_QUERY,Mos_sTepH,@Tha_Dynasty yep what's on yer bday wish list...
882406,4,1685966060,Sun May 03 03:01:53 PDT 2009,NO_QUERY,LAUR4T,"Need to edit today, didn't get any done yester..."
925946,4,1755478150,Sun May 10 09:14:31 PDT 2009,NO_QUERY,rytrmind,Getting ready to go out for Mother's Day lunch

In [8]:
#Concatinating the two datasets
df3 = pd.concat([df1, df2], axis=0)
#Writting into the testing_dataset csv file
df3.to_csv(store_test_path, header=False)

#Removing the rows from the dataset that have already been taken for the testing dataset
df4 = pd.concat([temp, df3, df3]).drop_duplicates(keep=False)
df4
#Writting into the training_dataset csv file
df4.to_csv(store_train_path, header=False)

#del df4,temp,negetive_data,positive_data,df3,df4